@page
@model Aula_WebApp.Pages.RegistrarModel
@{
    ViewData["Title"] = "Registrar";

    dynamic categorias = @Model.TakeIt.GetCategorias();
}
<form name="registrar" method="post">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <p class="text-lg-left">Título</p>
    <input type="text" name="titulo" required class="form-control" /><br />
    <p class="text-lg-left">Autor</p>
    <input type="text" asp-fo name="autor" class="form-control" /><br />
    <p class="text-lg-left">Categoria</p>
    <select name="categoria" class="form-control">
        @foreach (var item in categorias)
        {
            <option value="@item.Categoria">@item.Categoria</option>
        }
    </select><br />
    <p class="text-lg-left">Preço</p>
    <input type="text" name="preco" class="form-control" /><br />
    <input type="submit" class="btn btn-success" value="Registrar" />
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}